<nav>
    <a>Theater</a>
    <ul>
        <li><a href="#">Home </a></li>
        {{#if username}}
        <li><a href="#">Logout</a></li>
        {{else}}
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
        {{/if}}

    </ul>
</nav>