<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>THEATER - Express Exam June 2020</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        {{> navigation}}
        {{#if message}}
        {{> notifications}}
        {{/if}}
        <main>
            {{{ body }}}
        </main>
        {{> footer}}
    </div>
</body>

</html>